.main-container {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 650px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px 36px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  box-shadow: 15px 10px 40px #dadce0;
}

.userLogin-Form {
  margin-top: 50px;
  height: 307px;
  width: 434px;
  flex-direction: column;
}

.form-heading{
    font-family: sans-serif;
    display: block;
    text-align: left;
    font-size: 24px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-weight: 400;
  }

.username-Wrapper,
.password-Wrapper {
  position: relative;
}

.username-input,
.password-input {
  font-size: 14px;
  height: 20px;
  padding: 7px 9px;
  direction: ltr;
  width: 250px;
  text-align: left;
  border: 2px solid #dadce0;
  border-radius: 4px;
  color: #202124;
  display: block;
  line-height: 24px;
  margin: 40px 0 0 0;
}

.username-text,
.password-text {
  position: absolute;
  top: 8px;
  left: 2%;
  pointer-events: none;
  transition: 0.4s;
}

.username-input:focus + .username-text,
.username-input:not(:placeholder-shown) + .username-text {
  transform: translateY(-100%);
  background: white;
  font-size: 12px;
}

.password-input:focus + .password-text,
.password-input:not(:placeholder-shown) + .password-text {
  transform: translateY(-100%);
  background: white;
  font-size: 12px;
}

.errorMsg {
  color: crimson;
}

.submit-Button {
  display: block;
  border-radius: 5px;
  border: none;
  color: white;
  width: 79px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.15px;
  line-height: 20px;
  text-decoration: none solid rgb(255, 255, 255);
  font-size: 14px;
  background-color: #1a73e8;
  margin-top: 45px;
  margin-left: 190px;
}

.create-new-account-link{
  position: absolute;
  top: 340px;
  font-size: 14px;
  line-height: 20px;
  color: #1a73e8;
  margin-top: 80px;
  cursor: pointer;
}

.Image-Container {
  height: 512px;
  width: 300px;
}

.account-Image {
  height: 244px;
  width: 244px;
  margin-top: 45px;
}

