.main-container {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 650px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px 36px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  box-shadow: 15px 10px 40px #dadce0;
}

.userlogin-form {
  margin-top: 50px;
  height: 307px;
  width: 434px;
  flex-direction: column;
}

.form-heading {
  font-family: sans-serif;
  display: block;
  text-align: left;
  font-size: 24px;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-weight: 400;
  }

.username-wrapper,.password-wrapper {
  position: relative;
}

.username-input,
.password-input {
  font-size: 14px;
  height: 20px;
  padding: 7px 9px;
  direction: ltr;
  width: 250px;
  text-align: left;
  border: 2px solid #dadce0;
  border-radius: 4px;
  color: #202124;
  display: block;
  line-height: 24px;
  margin: 40px 0 0 0;
}

.username-text,
.password-text {
  position: absolute;
  top: 8px;
  left: 2%;
  pointer-events: none;
  transition: 0.4s;
}

.username-input:focus + .username-text,
.username-input:not(:placeholder-shown) + .username-text {
  transform: translateY(-100%);
  background: white;
  font-size: 12px;
}

.password-input:focus + .password-text,
.password-input:not(:placeholder-shown) + .password-text {
  transform: translateY(-100%);
  background: white;
  font-size: 12px;
}

.errormessage {
  color: crimson;
}

.submit-button {
    cursor: pointer;
    border-radius: 5px;
    line-height: 20px;
    color: white;
    width: 72px;
    height: 32px;
    right: 700px;
    font-size: 14px;
    display: block;
    text-align: center;
    font-size: 14px;
    background-color:blue;
    position: absolute;
    top: 390px;
}

.account-link{
    position: absolute;
    top: 323px;
    font-size: 14px;
    line-height: 20px;
    left:300px;
    color: #1a73e8;
    margin-top: 80px;
    cursor: pointer;
}

.image-container {
  height: 512px;
  width: 300px;
}

.account-image {
  height: 244px;
  width: 244px;
  margin-top: 45px;
}

