.todo-container {
    display: flex;
    background-color: #5a90bd;
}

.todo-form {
    width: 330px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

.form-heading {
    text-align: center;
    background-color: rgb(179, 65, 179);
    font-size: 22px;
    font-weight: 600;
    font-family: cursive;
}

.item-list {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.todo-input {
    width: 60%;
    border: none;
    border-bottom: 3px solid rgb(179, 65, 179);
    margin: 0 5% 1% 10%;
}
.todo-input:focus {
    outline: none;
}

.todo-input::placeholder {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    font-family: Times, serif;
    word-spacing: 8px;
}

.todo-add-button {
    border-radius: 50%;
    border: none;
    zoom: 2;
    font-size: 17px;
    background-color: rgb(168, 86, 168);
    font-weight: 500;
    transform: translateX(-5%);
    transition: all 0.2s;
}
.todo-add-button:focus {
    outline: none;
}
.todo-add-button:active {
    transform: translate(-5%,2.5px);
}
.todo-add-button:hover {
    cursor: pointer;
    background-color: rgba(97, 97, 240,1);
}

.todo-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.todo-list-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.todo-checkbox {
    zoom: 1.3;
    cursor: pointer;
}
input[type="checkbox"]:checked + .todo-input-list {
    text-decoration: line-through;
}

.todo-input-list {
    margin: 5% 2%;
    border: none;
    width: 60%;
    font-size: 17px;
    font-family: Times, serif;
    border-bottom: 1px solid black;
}
.todo-input-list:focus {
    outline: none;
}

.error-message {
    color: red;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
}

.todo {
    background-color: red;
    margin: 10px;
}

.empty-message {
    color: rgb(104, 0, 179);
    width: 65%;
    margin-top: 35%;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fas {
    color: green;
    border: none;
    zoom: 1.5;
    cursor: pointer;
}

.far {
    margin-right: 5%;
    color: red;
    border: none;
    zoom: 1.5;
    cursor: pointer;
}