.login-container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 150px auto;
    width: 735px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(218, 213, 213);
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #dadce0;
}

.login-form-heading {
    margin-left: 40px;
    margin-top: 80px;
    font-size: 24px;
    font-weight: 550;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}

.form-container {
    grid-row: 2;
    grid-column: 1/2;
    align-items: center;
}

.login-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.input-box-position {
    margin-bottom: 20px;
}

.password-box,
.userInput-box {
    width: 80%;
    display: block;
    height: 30px;
    position: relative;
}

.login-input,
.login-password {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border: 1px solid #b7b9bd;
    border-radius: 5px;
    color: black;
}

.password-label,
.username-label {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    color: rgb(80, 75, 75);
    pointer-events: none;
    transition: 0.4s;
}
.login-input:focus+.username-label,
.login-input:not(:placeholder-shown)+.username-label,
.login-password:focus+.password-label,
.login-password:not(:placeholder-shown)+ .password-label {
    transform: translateY(-100%);
    background: white;
    font-size: 12px;
    color: blue;
}
.login-input:focus,
.login-password:focus {
    outline: none;
    border: 1px solid blue;
}

.login-button {
    padding: 8px 12px;
    margin-left: 230px;
    margin-top: 40px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(55, 55, 170, 0.849);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transform: translateX(-50%);
    transition: all 0.2s;
}
.login-button:active {
    transform: translate(-50%,5px);
}
.login-button:hover {
    background-color: blue;
}
.login-button:focus {
    outline: none;
}

.forgot-password-link {
    color: blue;
    font-size: 12px;
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: -15px;
}

.new-account-link {
    color: blue;
    font-size: 14px;
    margin-left: 42px;
    margin-top: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.image-position {
    margin-top: 120px;
}

.password-error-message,
.username-error-message {
    font-size: 12px;
    margin-left: 5px;
    color: red;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    top: 10px;
    left: 235px;
    color: blue;
}
